@{
    ViewData["Title"] = "Ocean Fish Classification";
}

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar: Hệ sinh thái biển -->
        <aside class="col-md-3 sidebar">
            <h2>Hệ Sinh Thái Biển</h2>
            <ul class="ecosystem-list list-unstyled">
                <li>
                    <a href="dam-lay.html">
                        <img src="https://th.bing.com/th/id/OIP.cl1pf3-zuq2FJYSKsZAqOwHaE5?w=295&h=195&c=7&r=0&o=5&pid=1.7" alt="Đầm lầy" class="img-fluid"> Đầm lầy
                    </a>
                </li>
                <li>
                    <a href="rang-san-ho.html">
                        <img src="https://th.bing.com/th/id/OIP.fBt0GEbWmoUv5BkNR-s-9QHaFk?w=216&h=180&c=7&r=0&o=5&pid=1.7" alt="Rặng san hô" class="img-fluid"> Rặng san hô
                    </a>
                </li>
                <li>
                    <a href="ho-duoi-day-bien.html">
                        <img src="https://th.bing.com/th/id/OIP.LXNQOmOolaiWeP2cq_LDWAHaFE?rs=1&pid=ImgDetMain" alt="Hồ dưới đáy biển" class="img-fluid"> Hồ dưới đáy biển
                    </a>
                </li>
                <li>
                    <a href="day-nui-duoi-bien.html">
                        <img src="https://c.wallhere.com/photos/e0/00/1230x768_px_beach_Chile_cliff_clouds_Coast_Hill_island-700268.jpg!d" alt="Dãy núi dưới biển" class="img-fluid"> Dãy núi dưới biển
                    </a>
                </li>
                <li>
                    <a href="vuc-dai-duong.html">
                        <img src="https://sohanews.sohacdn.com/160588918557773824/2022/5/16/photo-3-1652670541198293227379.jpg" alt="Vực đại dương" class="img-fluid"> Vực đại dương
                    </a>
                </li>
                <li>
                    <a href="bai-cat-ngam.html">
                        <img src="https://th.bing.com/th?q=B%c3%a3i+C%c3%a1t+Background+4K&w=120&h=120&c=1&rs=1&qlt=90&cb=1&pid=InlineBlock&mkt=en-WW&cc=VN&setlang=en&adlt=moderate&t=1&mw=247" alt="Bãi cát ngầm" class="img-fluid"> Bãi cát ngầm
                    </a>
                </li>
                <li>
                    <a href="khe-nut-duoi-bien.html">
                        <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/1232B/production/_101893547_9499658d-3cc2-4563-a92d-4d3d9bcb469c.jpg" alt="Khe nứt dưới biển" class="img-fluid"> Khe nứt dưới biển
                    </a>
                </li>
                <li>
                    <a href="dong-bang-duoi-bien.html">
                        <img src="https://gcs.tripi.vn/public-tripi/tripi-feed/img/474499cnm/6363725_underseacable_cover.jpg" alt="Đồng bằng dưới biển" class="img-fluid"> Đồng bằng dưới biển
                    </a>
                </li>
            </ul>
        </aside>

        <!-- Nội dung chính -->
        <main class="col-md-9 main-content">
            <h1 class="display-4">Chào mừng bạn đến với Ocean Fish World</h1>
            <p>Khám phá các loại cá biển khác nhau và đặc điểm độc đáo của chúng.</p>

            <!-- Danh sách cá -->
            <div class="fish-category row">
                <div class="card col-md-4 mb-4">
                    <img src="https://cdn.tatlerasia.com/asiatatler/i/hk/2018/11/06132423-story-image-104915_cover_1000x725.jpg" alt="Tuna Fish" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">Cá ngừ</h3>
                        <p class="card-text">Một loài predator bơi nhanh được tìm thấy trong các đại dương trên toàn thế giới.</p>
                    </div>
                </div>

                <div class="card col-md-4 mb-4">
                    <img src="https://th.bing.com/th/id/OIP.kfQpDUbqQpxDdHs4COHeIgHaF7?w=219&h=180&c=7&r=0&o=5&pid=1.7" alt="Clownfish" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">Cá hề</h3>
                        <p class="card-text">Nổi tiếng với màu cam sáng và mối quan hệ cộng sinh với hải quỳ.</p>
                    </div>
                </div>

                <div class="card col-md-4 mb-4">
                    <img src="https://th.bing.com/th/id/OIP.7Lru9kZe4MetFvgDRJv6eQHaFj?w=241&h=181&c=7&r=0&o=5&pid=1.7" alt="Shark" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">Cá MẬP</h3>
                        <p class="card-text">Một trong những kẻ săn mồi hàng đầu của đại dương với các giác quan mạnh mẽ.</p>
                    </div>
                </div>
            </div>

            <!-- Hệ sinh thái -->
            <section class="ecosystem">
                <h2>Hệ sinh thái đại dương</h2>
                <p>Hệ sinh thái đại dương là một mạng lưới phức tạp của sinh vật biển, từ sinh vật phù du nhỏ đến cá voi khổng lồ.</p>
                <img src="ocean_ecosystem.jpg" alt="Ocean Ecosystem" class="img-fluid">
            </section>
        </main>
    </div>
</div>
